<% provide(:title, 'Brain training by Nir Levi') %>

<% content_for :stylesheets do %>
    <link type="text/css" rel="stylesheet" href="/assets/games/game1/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/games/game1/style.css"/>
<% end %>

<% content_for :javascripts do %>
    <script type="text/javascript">
        var game = <%= @game.id %>;
    </script>
    <script src="/assets/games/game1/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="/assets/games/game1/btracker.js" type="text/javascript"></script>
    <script src="/assets/games/game1/kinetic.min.js" type="text/javascript"></script>
    <script src="/assets/games/game1/data.js" type="text/javascript"></script>
    <script src="/assets/games/game1/game.js" type="text/javascript"></script>
<% end %>

<% content_for :not_included do %>
    <script src="game1/js/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="game1/js/btracker.js" type="text/javascript"></script>
    <script src="game1/js/kinetic.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <script src="game1/js/data.js" type="text/javascript"></script>
    <script src="game1/js/game.js" type="text/javascript"></script>
<% end %>

<!-- Game Canvas -->
<div id="wrapperwrapper">
  <div id="wrapper">
    <h1><strong>Brain training</strong></h1>
    </h2>
    <section>
      <div id="board"></div>
      <div id="levelInfo">
        <h2>עבודה טובה</h2>

        <h3>
          סיימת את שלב <strong class="level">1</strong>
          <br/>תוך <strong class="step">0</strong> צעדים
        </h3>
      </div>
      <a class="next btn" href="#">&gt;</a>
      <a class="prev btn disabled" href="#">&lt;</a>

      <div id="levelStatus">Level: <strong>1</strong> / <span>0</span></div>
      <a class="restart grayBtn" href="#">Restart Level</a>

      <div id="steps">Steps: <strong>0</strong></div>
    </section>
  </div>
  <div class='clear'> asdf</div>
</div>
<!-- Audio Files -->
<audio id="move" preload="auto">
  <source src="audio/move.mp3"/>
  <source src="audio/move.ogg"/>
</audio>
<audio id="hooray" preload="auto">
  <source src="audio/hooray.mp3"/>
  <source src="audio/hooray.ogg"/>
</audio>
