<% content_for :stylesheets do %>
    <link type="text/css" rel="stylesheet" href="/assets/games/game2/style.css"/>
<% end %>

<% content_for :javascripts do %>
    <script type="text/javascript">
        var game = <%= @game.id %>;
    </script>
    <script type="text/javascript" src="/assets/games/game2/jquery-1.4.2.min.js"></script>
    <script src="/assets/games/btracker.js" type="text/javascript"></script>
    <script src="/assets/games/game2/logic.js" type="text/javascript"></script>
    <meta name = "viewport" content = "width = device-width">
<% end %>
	
<div id="outside_wrapper">
	<div id="wrapper">
		<h1>Memory Game</h1>
		<section id="table"></section>
		<section id="fake_section">
			<button class="fake_button game_button"></button>
		</section>
		<section id="display">
			<button class="game_button" onclick="init()">Restart</button>
		</section>
	</div>
</div>