<li id="navbar fat-menu" class="dropdown" >
  <%= link_to patient.first_name, patient %>
  <%= link_to patient.last_name, patient %>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Statistics <b class="caret"></b>
  </a>
</li>