<% provide(:title, 'All therapists') %>
<h1>All therapists</h1>

<ul class="users">
  <% @therapists.each do |therapist| %>
    <li>
      <%= link_to therapist.first_name, therapist %>
      <% if current_user.admin? && !current_user?(therapist) %>
      <%= link_to "delete therapist", therapist, method: :delete, 
  									data: { confirm: "You sure?" } %>
  	  <% end %>
    </li>
  <% end %>
</ul>