<footer class="footer" >
  <small>
מופעל ע"י ניר לוי
  </small>
  <nav>
    <ul>
      <li><%= link_to "אודות",   about_path %></li>
      <li><%= link_to "צור קשר", contact_path %></li>
    </ul>
  </nav>
</footer>
